.about {
  padding: 4rem 0;
  background: var(--primary-color);
  text-align: center;

  h2 {
    color: var(--white-color);
  }

  .doctor-container {
    background: white;
    color: var(--primary-color);
    border-radius: 2rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
  }

  .doctor-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  .button-container {
    justify-content: center;
  }
  .image-container {
    display: flex;
  }
}
