.footer {
  background: var(--primary-color);
  padding: 2rem 0 8rem 0 ;
  text-align: center;

  section {
    display: grid;
    gap: 2rem;
  }

  .footer-container {
    display: flex;
    justify-content: center;
  }

  h3 {
    color: var(--white-color);
  }

  ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  a {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    color: var(--white-color);
  }
}