.process {
  padding: 4rem 0;

  h2 {
    text-align: center;
  }

  ul {
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
  }

  li {
    text-align: center;
    img{
      height: 10rem;
    }
  }
  .button-container {
    justify-content: center;
  }
}