.button-container {
  display: flex;
}

.button {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;

  padding: .75em 1.5em;
  cursor: pointer;

  background: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: .25rem;

  display: inline-flex;
  gap: .5rem;
  flex-wrap: nowrap;


  .icon {
    width: 1.25rem;
  }
}
