* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: sans-serif, Inter;
  --primary-color: #a0261a;
  --secundary-color: #601104;
  --background-color: #FCF0E7;
  --white-color: #fff;
  --text-color: var(--primary-color);
  --color-green: #27d467;
  --size-text: 1.125rem;
  --bigger-text: 4rem;
  --h1: var(--bigger-text);
  --margin-1: 0.5rem;
  --margin-2: 0.75rem;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  background-color: transparent;
  width: 0.75rem;
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: Var(--text-color);
}

h1 {
  margin-bottom: var(--margin-2);
}

h3 {
  font-size: 1.125rem;
}

p {
  margin-bottom: var(--margin-1);
}

.icon {
  width: 1.5rem;
}

body {
  color: var(--secundary-color);
  font-family: var(--font-family);
  font-size: var(--size-text);
}

.main {
  width: 100%;
  height: auto;
  min-width: 320px;
}

.section {
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  gap: 2rem;
}

.especialist {
  padding: 4rem 0;
  text-align: center;
}
.especialist .button-container {
  justify-content: center;
}

.about {
  padding: 4rem 0;
  background: var(--primary-color);
  text-align: center;
}
.about h2 {
  color: var(--white-color);
}
.about .doctor-container {
  background: white;
  color: var(--primary-color);
  border-radius: 2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
}
.about .doctor-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.about .button-container {
  justify-content: center;
}
.about .image-container {
  display: flex;
}

.header {
  position: fixed;
  height: 5rem;
  width: 100%;
  display: flex;
  bottom: 0;
  background: var(--primary-color);
  box-shadow: 0px -5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.header .logo {
  display: none;
}
.header .navigator {
  display: flex;
  width: 100%;
}
.header ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.header a {
  color: white;
}

@media screen and (min-width: 768px) {
  .header {
    position: sticky;
    background: white;
    top: 0;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  }
  .header .logo {
    display: block;
  }
  .header > .navigator > ul > li > a {
    color: var(--primary-color);
  }
  .header > span {
    display: block;
  }
  .navigator {
    width: 100%;
  }
  .navigator > ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-right: 2rem;
  }
  .navigator > ul > li {
    display: flex;
  }
  .navigator > ul > li > a {
    font-size: 1.75rem;
    display: flex;
  }
}
.process {
  padding: 4rem 0;
}
.process h2 {
  text-align: center;
}
.process ul {
  display: grid;
  gap: 2rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
}
.process li {
  text-align: center;
}
.process li img {
  height: 10rem;
}
.process .button-container {
  justify-content: center;
}

.footer {
  background: var(--primary-color);
  padding: 2rem 0 8rem 0;
  text-align: center;
}
.footer section {
  display: grid;
  gap: 2rem;
}
.footer .footer-container {
  display: flex;
  justify-content: center;
}
.footer h3 {
  color: var(--white-color);
}
.footer ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer a {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--white-color);
}

.banner {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  overflow: hidden;
  background: var(--background-color);
  z-index: 1;
}
.banner .section {
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
}
.banner .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.banner .logo {
  width: 15rem;
}
.banner .accent-color {
  color: var(--primary-color);
}
.banner .button-container {
  justify-content: center;
}
.banner .cta-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.banner .img-container {
  display: flex;
  justify-content: center;
}
.banner .img-background {
  max-width: -webkit-fill-available;
  position: absolute;
  bottom: -10rem;
  right: -16rem;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .banner .logo {
    display: none;
  }
}
@media screen and (min-width: 895px) {
  .banner {
    text-align: start;
  }
  .banner .button-container {
    justify-content: start;
  }
}

.button-container {
  display: flex;
}

.button {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  padding: 0.75em 1.5em;
  cursor: pointer;
  background: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 0.25rem;
  display: inline-flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
.button .icon {
  width: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
