body {
  color: var(--secundary-color);
  font-family: var(--font-family);
  font-size: var(--size-text);
}

.main {
  width: 100%;
  height: auto;
  min-width: 320px;
}

.section {
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  gap: 2rem;

}

.especialist {
  .button-container {
    justify-content: center;
  }

  padding: 4rem 0;
  text-align: center;
}